@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), url("../../fonts/lato/lato-regular.woff2") format("woff2"), url("../../fonts/lato/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"), url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), url("../../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswald/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border: none;
  background-color: #68b738;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 0;
}

.navigation {
  padding: 20px 20px 18px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navigation__link {
  display: flex;
  gap: 56px;
}

.navigation__button {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.navigation__button span {
  width: 24px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}
.navigation__button span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.navigation__button span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.hero__container {
  display: grid;
  justify-items: center;
}

.hero__header {
  position: relative;
  background-image: url("../img/cat-index-background.jpg");
  background-repeat: no-repeat;
  background-size: auto calc(100% - 135px);
  background-position: top;
  padding: 27px 20px 299px 20px;
  grid-area: 1/-1;
  width: 100%;
  min-height: 302px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  color: #ffffff;
}
.hero__header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 135px);
  background-color: rgba(104, 183, 56, 0.85);
  z-index: 1;
}

.hero__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  z-index: 3;
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  z-index: 3;
}

.hero__img {
  display: grid;
  position: relative;
  margin: 0;
  grid-area: 1/-1;
  align-self: end;
  z-index: 3;
}

.hero__button {
  display: flex;
  justify-content: center;
  padding: 8px 44px;
  background-color: #68b738;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  max-width: 280px;
}

.catalog {
  padding: 0 20px;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  margin: 27px 0 30px 0;
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.catalog__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  max-width: 76px;
}

.catalog__item::before {
  content: "";
  height: 1px;
  display: block;
  background-color: #ebebeb;
  position: absolute;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}

.catalog__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px 0 22px 0;
}

.catalog__img {
  margin: 0 auto;
}

.catalog__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #68b738;
  padding: 10px 0;
}
.catalog__button--grey {
  width: 100%;
  background-color: #f2f2f2;
  color: #444444;
}

.about-product {
  padding: 0 20px;
}

.about-product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px 0;
  padding: 0;
}

.about-product__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0 0 49px 0;
  margin: 0;
}

.about-product__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.about-product__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
}

.about-product__back {
  background-color: #68b738;
  width: 60px;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}

.example {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #eaeaea;
  margin: 0;
  padding: 25px 20px 40px;
}

.example__content-container {
  display: flex;
  gap: 32px;
  margin: 0 0 14px 0;
}

.example__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.example__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
}

.example__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  padding: 0;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 15px 0 0 0;
  text-transform: uppercase;
}

.example__subtitle {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #000000;
  position: absolute;
  max-width: 77px;
  text-align: center;
  padding: 0 5px;
  margin: 0;
  top: 46px;
  background-color: #eaeaea;
}

.example__content {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.example__preview {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.contacts__content {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  text-transform: uppercase;
  max-width: 139px;
}

.contacts__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  margin: 0;
}

.contacts--background {
  background-color: #f2f2f2;
}

.footer {
  padding: 0 20px;
  background-color: #f2f2f2;
  flex: 0 0 auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 40px 0;
}

.footer__img {
  display: block;
}

.partner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.partner__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #444444;
  margin: 0;
}

.partner__link {
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.additionally {
  padding: 25px 20px 0;
  overflow: hidden;
}

.additionally__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 36px 0;
  position: relative;
}
.additionally__title::after {
  content: "";
  min-width: 100vw;
  border: 2px solid #68b738;
  position: absolute;
  top: 50%;
}

.additionally__title span {
  padding-right: 20px;
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.additionally__list::after {
  content: "";
  margin: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #ebebeb;
}

.additionally__item {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.additionally__item::before {
  content: "";
  margin: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #cdcdcd;
}

.additionally__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
}

.additionally-price {
  display: flex;
  justify-content: space-between;
}

.additionally-price__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.additionally__button {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #68b738;
  padding: 10px 0;
}

.promotion {
  padding: 35px 20px;
  margin: 0;
}

.promotion__container {
  background-image: url("../img/cat-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 290px;
}
.promotion__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: 2;
}

.promotion__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0;
  max-width: 161px;
  z-index: 3;
}

.promotion__icon {
  flex-shrink: 0;
  z-index: 3;
}

.form {
  padding: 0 20px;
  overflow: hidden;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 37px;
  margin: 27px 0 39px;
}

.form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

.form__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  max-width: 226px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: #68b738;
  padding: 14px;
}

.form__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  margin: 21px auto 32px;
}

.menu-active span:nth-of-type(1) {
  display: none;
}

.menu-active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menu-button__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-button__link span {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  padding: 22px 0 24px;
  margin: 0;
  list-style: none;
}

.border-bottom {
  width: 100%;
  border-bottom: 2px solid #d9d9d9;
}

.border-bottom-2 {
  width: 100%;
  border-bottom: 2px solid #e6e6e6;
}

.border-top {
  width: 100%;
  border-top: 2px solid #e6e6e6;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-contact__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #000000;
  gap: 14px;
  flex-shrink: 0;
  margin: 0 0 35px 0;
  width: 100%;
  padding: 26px 0 0 0;
}
.form-contact__legend::after {
  content: "";
  margin: 0 -20px 0 0;
  height: 0;
  flex-grow: 1;
  display: block;
  border: 2px solid #68b738;
}

.form-contact__legend span {
  max-width: 187px;
}

.form-contact__label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-contact__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  flex-shrink: 0;
}

.form-contact__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 14px 20px;
  border: 1px solid #e7e7e7;
  color: #444444;
  width: 100%;
}
.form-contact__input::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.form-comment {
  margin: 24px 0 0 0;
}

.form-comment__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  display: flex;
  gap: 23px;
  align-items: center;
  margin: 0 0 38px 0;
  width: 100%;
}
.form-comment__legend::after {
  content: "";
  margin: 0 -20px 0 0;
  height: 0;
  flex-grow: 1;
  display: block;
  border: 2px solid #68b738;
}

.form-comment__massage {
  width: 100%;
  height: 150px;
  padding: 10px 0 0 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 1px solid #e7e7e7;
  margin: 0;
  resize: vertical;
}
.form-comment__massage::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-date {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.form-date::after {
  content: "";
  margin: 10px -20px 0;
  height: 0;
  width: 320px;
  display: block;
  border: 1px solid #d9d9d9;
}

.form-date__label {
  display: flex;
  gap: 13px;
  align-items: center;
}

.form-date__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 14px 20px;
  border: 1px solid #e7e7e7;
  width: 100%;
  color: #444444;
}
.form-date__input::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.form-date__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  flex-shrink: 0;
}

.form-extra {
  margin: 23px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.form-extra__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  display: flex;
  gap: 23px;
  align-items: center;
  margin: 0 0 34px 0;
  width: 100%;
}
.form-extra__legend::after {
  content: "";
  margin: 0 -20px 0 0;
  height: 0;
  flex-grow: 1;
  display: block;
  border: 2px solid #68b738;
}

.form-extra__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-extra__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 16px;
}

.form-extra__indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  padding: 2px;
}

.form-extra__input:checked + .form-extra__indicator::after {
  content: "";
  position: absolute;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 26px;
  height: 26px;
}

.form-extra__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form-radio {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 22px 0 19px;
  position: relative;
}
.form-radio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200vw;
  height: 2px;
  background-color: #d9d9d9;
  transform: translateX(-50%);
}

.form-radio__label {
  display: flex;
  gap: 15px;
  align-items: center;
}

.form-radio__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.form-radio__indicator {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  position: relative;
}

.form-radio__input:checked + .form-radio__indicator::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  top: 50%;
  margin-top: -6.5px;
  left: 50%;
  margin-left: -6.5px;
}

.catalog-price {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-price__list {
  display: flex;
  justify-content: space-between;
}

.catalog-price__text {
  max-width: 40px;
}

.catalog-more {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.catalog-more::after {
  content: "";
  margin: 0 -20px;
  height: 1px;
  width: 320px;
  display: block;
  background-color: #ebebeb;
}

.catalog-more__icon {
  margin: 0 auto;
}

.catalog-more__container {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 25px 0 0 0;
}

.catalog-more__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.catalog-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.catalog-more__subtitle {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin: 0;
}

.catalog-preview {
  padding: 0 20px;
}

.catalog-preview__green {
  background-color: #68b738;
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  flex-shrink: 0;
}

.catalog-preview__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
}

.catalog-preview__item {
  padding: 20px;
  background-color: #f2f2f2;
}

.catalog-preview__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  flex-shrink: 0;
  text-transform: uppercase;
}

.catalog-preview__img-1 {
  position: absolute;
  flex-shrink: 0;
  left: 7px;
  top: -3px;
}

.catalog-preview__img-2 {
  position: absolute;
  flex-shrink: 0;
  left: -12px;
  top: 12px;
}

.catalog-preview__subtitle {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  padding: 23px 0 15px 0;
  margin: 0 0 15px 0;
}

.catalog-preview__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.catalog-preview__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
}
.catalog-preview__button:hover .catalog-preview__icon {
  width: 26px;
}

.catalog-preview__icon {
  margin: 0 0 0 15px;
  width: 18px;
  transition: all 0.3s ease;
}
.catalog-preview__icon:hover {
  width: 26px;
}

.catalog-preview__block {
  display: inline-flex;
  align-items: center;
  height: 24px;
  vertical-align: top;
}

.main-index__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*# sourceMappingURL=style.css.map */